* {
    padding: 0;
}
#mal_control_strip {
    background: #1fda9a !important;
    color: #f0f0f1 !important;
}
td#mal_cs_powered a {
    display: none !important;
}
table#mal_control_strip tbody tr td div {
    margin: 0 auto !important;
    border: none !important;
    width: auto !important;
    padding: 2px !important;
}
table#mal_control_strip tbody tr td {
    text-align: center !important;
}
div#search img {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
div#search {
    width: 20% !important;
    margin: auto !important;
}
