#mal_control_strip {
    background: #1fda9a !important;
    color: #f0f0f1 !important;
}
td#mal_cs_powered a {
    display: none !important;
}
td div {
    background-color: rgba(255, 255, 255, 0.5) !important;
    margin: 0 auto !important;
    border: none !important;
    width: auto !important;
    padding: 2px !important;
}
td {
    text-align: center !important;
}
